

body {
    padding-left: 4%;
    padding-right: 4%;
    
  }
  
  .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-row-gap: 10px     ;
      grid-template-columns: repeat(15   , 1fr);
    
      padding: 5px;

    }
  
    .box {
      /* background-color: #444; */
      color: #838383;
      
      border-radius: 5px;
      padding: 5px;
      /* font-size: 150%; */
    }

    .afondo {
        padding: 0;
    margin: 0;
        text-decoration: none;
        top: 0%;
      
      text-align: center;
      position: fixed;
      background-color: white;
      width: 100%;
      height: 8%;
      
    }
  
    .a {
        padding: 0;
    margin: 0;
        text-decoration: none;
        top: 0%;
      
      text-align: center;
      position: fixed;
      background-color: white;
      width: 18%;
      max-height: 4%;
      
    }



    .a2 {
       padding: 0;
    margin: 0;
        text-decoration: none;
        top: 0%;
      
      text-align: center;
      position: fixed;
      background-color: white;
      background-color: white;
      width: 7%;
      left: 50%;
      top: 1.5%;
      max-height: 4%;
      
    }


    .a3 {
        
        padding: 0;
        
    margin: 0;
        text-decoration: none;
        top: 0%;
      
      text-align: center;
      position: fixed;
      background-color: white;
      width: 7%;
      left: 60%;
      top: 1.5%;
      max-height: 4%;
      
    }

    .a4 {
       
        padding: 0;
        margin: 0;
            text-decoration: none;
            top: 0%;
          
          text-align: center;
          position: fixed;
          background-color: white;
      width: 7%;
      left: 60%;
      left: 70%;
      top: 1.5%;
      max-height: 4%;
      
    }

    .a5 {
      padding: 0;
      margin: 0;
          text-decoration: none;
          top: 0%;
        
        text-align: center;
        position: fixed;
        background-color: white;
        background-color: white;
        width: 7%;
        left: 85%;
        top: 1.5%;
        max-height: 4%;
        
      
    }


    .esfera {
        padding: 0;
        margin: 0;
            text-decoration: none;
            top: 0%;
          
          text-align: center;
          position: fixed;
          background-color: white;
          top: 2%;
      left: 70%;
      left:90%;
      max-height: 4%;
      
    }
   








    .titulo{
        padding: 0;
        margin: 0;
        left: 0px;
     text-align: left;
    
    
    
    font-family: 'Lato', sans-serif;
    
    
    font-size: 2vw;
    color: #838383;
    
    font-size: 1.8vw;
    text-transform: uppercase;
    
    }
    
    .titulo2{
        padding: 0;
        margin: 0;
        left: 0px;
     text-align: left;
    
    
    
    font-family: 'Lato', sans-serif;
    
    
    font-size: 2vw;
    color: #838383;
    
    font-size: 1.3vw;
    
    
    }

    .proyecto{
        left: 40%;
        top: 0%;
        z-index: 100;

    }
    
  

    a:link {
        text-decoration: none;
      }

    .b {
        margin-top: 50px;
      grid-column: 1/11;
      grid-row: 2 / 3;
      
    }
    .c {
        margin-top: 50px;
       padding-top: 0;
        text-align: left;
        font-family: 'Lato', sans-serif;
        
      grid-column: 11/ 14 ;
      grid-row: 2/3 ;
      
      /* align-self: center; */
      
      
    }

    .d {
        grid-column: 1 / 16;
        grid-row: 3;
        text-align: center;
    }  

    .e {
        padding-top: 0;
       
        
      
      grid-row: 2/3 ;
      font-size: 8px;
      /* align-self: center; */
      
      grid-column: 6/16;
      grid-row: 4;
      
    }
    .f {
        grid-column: 2 / 6;
        grid-row: 4;
        padding-top: 0;
        text-align: right;
        font-family: 'Lato', sans-serif;
        
      
      
      /* align-self: center; */
      
    }

    .g {
        grid-column: 1 / 16;
        grid-row: 5;
        text-align: center;
    } 

    .h {
        grid-column: 1/11;
        grid-row: 6 / 9;
        
      }

      
     

    .i {
     
        grid-column: 11/15;
        grid-row: 8;
        display: flex;
      align-items: flex-end;
      justify-content: flex-end;
        
      }
    

      .j {
        grid-column: 11 / 15;
        grid-row: 7;
        padding-top: 0;
        text-align: left;
        font-family: 'Lato', sans-serif;
        display: flex;
      align-items: flex-end;
      justify-content: flex-end;
        
      
      
      /* align-self: center; */
      
    }

    .k {
        margin-top: 100px;
        grid-column: 2/9;
        grid-row:  9;
        
      }

      .l {
        margin-top: 100px;
        
        grid-column: 9 / 15;
        grid-row: 9;
        text-align: left;
        align-content: center;
        align-self: center;
    } 

    .m {
        margin-top: 100px;
        padding-top: 20px;
        grid-column: 5 / 8;
        grid-row: 10 / 14;
        text-align: left;
        align-content: top;
        align-self: top;
        
    } 
    
    .avatar1{
        grid-column: 9/11;
        grid-row: 11/12;
    }   

    .textavatar1{
        padding: 0px;
        grid-column: 9/11;
        grid-row: 12/13;
        text-align: left;
    }

    .avatar2{
        grid-column: 9/11 ;
        grid-row: 13/14;
    }  
    .textavatar2{
        padding: 0px;
        grid-column: 9/11;
        grid-row: 15/16;
        text-align: left;
    }

    .avatar3{
        grid-column: 11/13;
        grid-row: 11/12;
    }   

    .textavatar3{
        padding: 0px;
        grid-column: 11/13;
        grid-row: 12/13;
        text-align: left;
    }

    .avatar4{
        grid-column: 11/13 ;
        grid-row: 13/14;
    }  

    .textavatar4{
        padding: 0px;
        grid-column: 11/13;
        grid-row: 15/16;
        text-align: left;
    }

    .avatar5{
        grid-column: 13/15;
        grid-row: 11/12;
    }   

    .textavatar5{
        padding: 0px;
        grid-column: 13/15;
        grid-row: 12/13;
        text-align: left;
    }
    
    .avatar6{
        grid-column: 13/15 ;
        grid-row: 13/14;
    }  

    .textavatar6{
        padding: 0px;
        grid-column: 13/15;
        grid-row: 15/16;
        text-align: left;
    }



    .o {
        margin-top: 100px;
        grid-column: 2/9;
        grid-row:  16/20;
        
      }

      .p {
        
        
        grid-column: 9 / 14;
        grid-row: 19;
        display: flex;
      align-items: flex-end;
      justify-content: flex-end;
        
    } 


     .q {
        
        
        grid-column: 9 / 14;
        grid-row: 18;
        text-align: left;
        display: flex;
      align-items: flex-end;
      justify-content: flex-end;
        
    } 

    .nombre{
      font-family: 'Lato', sans-serif;

      font-family: 'Open Sans', sans-serif;
    }

    



















  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    max-width: 100%;
    
  }

  .simpletext{
    font-family: 'Lato', sans-serif;
  
    font-size: 16px;
    font-size: 0.5vw;
    font-size: 0.55vw;
}

.textcenter{
    padding-left: 10%;
    padding-right: 10%;
    margin: 60px;
    font-family: 'Lato', sans-serif;
  
    font-size: 16px;
    
    font-size: 1.5vw;
    color: black;
    font-weight: 800;
}


.mano:hover{
    cursor: pointer;
}

